/* =====UNIVERSAL===== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Oswald:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  --red: #BA0C2F;
  --gray: #9EA2A2;
  --dark-gray: #554F47;
  --green: #B7BF10;
}

body {
  height: 100vh;
}

/* =====Header===== */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 25px 40px;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.nav {
  display: flex;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  margin-left: 30px;
}

.nav a:hover {
  color: var(--red)
}

/* =====Footer===== */
.footer {
  background-color: var(--red);
  display: flex;
  justify-content: center;
  padding: 40px;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-head {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: auto;
}

hr {
  border: 10px solid var(--red);
}


/* =====Homepage===== */

.video {
  position: relative
}

.introduction {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  padding: 30px;
  text-shadow: 2px 2px 4px black;
  color: white;
  margin-top: 100px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(40%);
  position: relative;
  z-index: 0;
}

.intro-headline {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  padding-bottom: 10px;
}

.intro-subhead {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
}

.intro-text {
  font-family: 'Merriweather Sans';
  font-size: 28px;
  padding: 0px 40px;
}

.home {
  margin-bottom: -10px;
}

.intro-btn {
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  background-color: black;
  margin-top: 20px;
  color: white;
  font-family: "Merriweather Sans";
}

.intro-btn:hover {
  background-color: var(--red);
}

/* =====INDEX PAGE===== */

fieldset {
  border: 1px solid black;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  margin: 0 200px 80px 200px;
  border-radius: 10px;
}

label {
  font-family: "Oswald";
  font-size: 22px;
  padding-bottom: 10px;
}

input {
  font-family: "Merriweather Sans";
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.add-btn {
  width: 25%;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  background-color: black;
  margin-top: 20px;
  color: white;
  font-family: "Oswald";
  font-size: 20px;
}

.add-btn:hover {
  background-color: white;
  color: var(--red)
}

.button-div {
  text-align: center;
}

.index-headline {
  text-align: center;
  padding: 40px;
  font-family: "Oswald";
  font-size: 40px;
}

.player-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 80px;
  margin-bottom: 40px;
  padding: 40px;
}

.player {
  text-align: center;
  font-family: "Oswald";
  font-size: 30px;
}

#player-names {
  margin-bottom: 20px;
}

.player-image {
  max-width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--red);
  transition: all .2s ease-in-out;
}

.player-image:hover { 
  transform: scale(1.1); 
}

/* =====SHOW===== */

.hedges {
  background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/c_scale,h_200/v1643735670/Football/hedge-desktop-wallpaper-photography-wallpaper-tropical-flowers-e6d93bd286538fe3fa1bb6340df5031d-min_yo95mw.png");
  background-position: center center;
  padding: 100px;
  background-repeat: repeat-x;
}

.sign {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  letter-spacing: 4px;
  font-family: "Oswald";
  font-size: 4em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #FA1717,
    -0.2rem 0.1rem 1rem #FA1717, 0.2rem 0.1rem 1rem #FA1717,
    0 -0.5rem 2rem #CF0808, 0 0.5rem 3rem #CF0808;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #FA1717,
      -0.2rem 0.1rem 1rem #FA1717, 0.2rem 0.1rem 1rem #FA1717,
      0 -0.5rem 2rem #CF0808, 0 0.5rem 3rem #CF0808;
  }
  28%,
  33% {
    color: #FA1717;
    text-shadow: none;
  }
  82%,
  97% {
    color: #CF0808;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #FA1717,
      -0.2rem 0.1rem 1rem #FA1717, 0.2rem 0.1rem 1rem #FA1717,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.player-show {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

.show-image {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  padding: 90px 40px;
}

.show-info {
  grid-area: 1 / 2 / 2 / 3;
  padding: 90px 70px;
}

.player-image-show {
  max-width: 600px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--red);
}

.player-details {
  font-family: "Merriweather Sans";
  font-size: 28px;
  padding-bottom: 15px;
}

.player-show-headline {
  font-family: "Oswald";
  font-size: 40px;
  padding-bottom: 20px;
}


@media only screen and (max-width: 1024px) {
  fieldset {
    padding: 30px 30px;
    margin: 0 50px 80px 50px;
  }

  .add-btn {
    width: 60%;
  }

  .player-show {
    display: flex;
    flex-direction: column;
  }

  .show-info {
    text-align: center;
    padding: 40px 50px;
  }
}

@media only screen and (max-width: 600px) {
  .introduction {
    margin-top: 60px;
  }

  .intro-headline {
    font-size: 50px;
  }
  
  .intro-subhead {
    font-size: 36px;
  }
  
  .intro-text {
    font-size: 22px;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .player-image {
    max-width: 300px;
    height: 200px;
  }

  .player-image-show {
    max-width: 400px;
    height: 200px;
  }

  .show-image {
    padding: 15px 40px;
  }

  .sign {
    letter-spacing: 2px;
    font-size: 2.8em;
  }

  .player-details {
    font-size: 20px;
  }
  
  .player-show-headline {
    font-size: 32px;
  }
}

  









