/* =====UNIVERSAL===== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Oswald:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  --red: #BA0C2F;
  --gray: #9EA2A2;
  --dark-gray: #554F47;
  --green: #B7BF10;
}

body {
  height: 100vh;
}

/* =====Header===== */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 25px 40px;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 40px;
}

.nav {
  display: flex;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  margin-left: 30px;
}

.nav a:hover {
  color: var(--red)
}

/* =====Header===== */
.footer {
  background-color: var(--red);
  display: flex;
  justify-content: center;
  padding: 40px;
}

.footer-head {
  color: white;
  font-family: 'Oswald', sans-serif;
}






